div&attributes(postAttributes)
  h2&attributes(titleAttributes) post.Name
  br
  div&attributes(dateAttributes) post.createdAt
  each tag in post.tags
    a(href="/blog/tags/"+tag.slug)&attributes(linkAttributes) tag.name
  a(href="#comments")&attributes(linkAttributes)
  br
  p post.body
  br
  a(href="/blog/posts/"+post.slug)&attributes(buttonAttributes) Show comments
div&attributes(commentAttributes)
